<section class="cab-section">

  <!-- HEADER -->
  <div class="cab-header">
    <h2>Cab Services | Kalki Tour and Travels</h2>
    <p>Book reliable and affordable taxi services with best comfort</p>
  </div>

  <!-- CARDS -->
  <div class="cab-container">

    <div class="cab-card blue">
      <div class="icons">🟢 🟠</div>
      <h3>Swift Dzire</h3>
      <div class="badge">₹12/km</div>
      <div class="details">
        Airport: ₹1500<br>
        8Hr/80Km: ₹2200<br>
        Extra Km: ₹12<br>
        Driver: ₹300<br>
        Seats: 4
      </div>
      <img 
        src="../assets/image/swift.jpeg" 
        class="cab-img" 
        alt="Maruti Dzire"
      > 
      <button class="cta-btn-2"><a href="cabServices.html" id="bookId">Book Now</a></button>
    </div>

    <div class="cab-card red">
      <div class="icons">🟢 🟠</div>
      <h3>Toyota Etios</h3>
      <div class="badge">₹13/km</div>
      <div class="details">
        Airport: ₹1600<br>
        8Hr/80Km: ₹2300<br>
        Extra Km: ₹13<br>
        Driver: ₹300<br>
        Seats: 4
      </div>
      <img src="../assets/image/etos.jpg" class="cab-img">
      <button class="cta-btn-2"><a href="cabServices.html" id="bookId">Book Now</a></button>
    </div>

    <div class="cab-card blue">
      <div class="icons">🟢 🟠</div>
      <h3>Ertiga</h3>
      <div class="badge">₹15/km</div>
      <div class="details">
        Airport: ₹2000<br>
        8Hr/80Km: ₹2800<br>
        Extra Km: ₹15<br>
        Driver: ₹350<br>
        Seats: 6
      </div>
      <img src="../assets/image/ertiga.jpeg" class="cab-img">
      <button class="cta-btn-2"><a href="cabServices.html" id="bookId">Book Now</a></button>
    </div>

    <div class="cab-card red">
      <div class="icons">🟢 🟠</div>
      <h3>Innova Crysta</h3>
      <div class="badge">₹18/km</div>
      <div class="details">
        Airport: ₹2500<br>
        8Hr/80Km: ₹3500<br>
        Extra Km: ₹18<br>
        Driver: ₹400<br>
        Seats: 7
      </div>
      <img src="../assets/image/crysta.jpeg" class="cab-img">
      <button class="cta-btn-2"><a href="cabServices.html" id="bookId">Book Now</a></button>
    </div>

  </div>

</section>