<section class="footer-section">

  <!-- CTA -->
  <div class="cta">
    <h2>Plan Your Divine Journey Today </h2>
    <p>Explore Varanasi, Prayagraj, Ayodhya, Lucknow, Bodh Gaya and many more with exclusive packages</p>
    <button class="cta-btn"><a href="contact.html" id="bookId">Book Now</a></button>
  </div>

  <!-- FOOTER -->
  <footer class="footer">
    <div class="footer-container">

      <!-- ABOUT -->
      <div class="footer-col">
        <div class="logo-section">
          <img src="../assets/logos/kalki-logo.png" alt="Kalki Logo">
          <div class="logo-text">
            <a id="text-decor" href="index.html"><p><span style="color:orange;">Kalki</span></p> <span style="color:white;">Tour and Travels</span></a>
          </div>
        </div>
        <p>Your trusted travel partner for spiritual tours across India.</p>
      </div>

      <!-- SERVICES -->
      <div class="footer-col">
        <h3>Quick Link</h3>
        <a href="index.html"><i class="fa fa-angle-right" aria-hidden="true"></i> Home</a>
        <a href="blog_index.html"><i class="fa fa-angle-right" aria-hidden="true"></i> Our Blog</a>
        <a href="gallery.html"><i class="fa fa-angle-right" aria-hidden="true"></i> Our Gallery</a>
        <a href="aboutUs.html"><i class="fa fa-angle-right" aria-hidden="true"></i> About US</a>
      </div>

      <!-- SERVICES -->
      <div class="footer-col">
        <h3>Our Services</h3>
        <a href="contact.html"><i class="fa fa-angle-right" aria-hidden="true"></i> Contact Us</a>
        <a href="bookTourGuide.html"><i class="fa fa-angle-right" aria-hidden="true"></i> Tour Gide Services</a>
        <a href="cabServices.html"><i class="fa fa-angle-right" aria-hidden="true"></i> Cab Services</a>
        <a href="boatBooking.html"><i class="fa fa-angle-right" aria-hidden="true"></i> Boat Services</a>
      </div>

      <!-- DESTINATIONS -->
      <div class="footer-col">
        <h3>Destinations</h3>
        <a href="varansiTour.html"><i class="fa fa-angle-right" aria-hidden="true"></i> Varanasi</a>
        <a href="ayodhyaTour.html"><i class="fa fa-angle-right" aria-hidden="true"></i> Ayodhya</a>
        <a href="prayagrajTour.html"><i class="fa fa-angle-right" aria-hidden="true"></i> Prayagraj</a>
        <a href="lucknowTour.html"><i class="fa fa-angle-right" aria-hidden="true"></i> Lucknow</a>
      </div>

      <!-- CONTACT -->
      <div class="footer-col">
        <h3>Contact US</h3>
        <p><i class="fa fa-map-marker color" aria-hidden="true"></i> Prayagraj, India</p>
        <p><i class="fa fa-phone color" aria-hidden="true"></i> +91 9682701873</p>

      </div>

    </div>
    <div class="follow-box">
        <h3>Follow Us</h3>
        
        <div class="icon-row">
          <!-- Facebook -->
          <a href="#" class="icon-link" aria-label="Facebook">
            <i class="fab fa-facebook-f"></i>
          </a>
          <!-- Instagram -->
          <a href="#" class="icon-link" aria-label="Instagram">
            <i class="fab fa-instagram"></i>
          </a>
          <!-- YouTube -->
          <a href="#" class="icon-link" aria-label="YouTube">
            <i class="fab fa-youtube"></i>
          </a>
          <!-- Twitter / X -->
          <a href="#" class="icon-link" aria-label="Twitter">
            <i class="fab fa-twitter"></i>
          </a>
        </div>
      </div>

    <!-- FULL WIDTH MAP -->
   <div class="full-map">
      <iframe 
        src="https://maps.google.com/maps?q=25.469694,81.839528&z=15&output=embed"
        width="100%" 
        height="450" 
        style="border:0;" 
        allowfullscreen="" 
        loading="lazy">
      </iframe>
  </div>
  

    <div class="footer-bottom">
      <p>© 2026 Kalki Tour and travels | All Rights Reserved | Design and Developed By SH Brothers</p>
    </div>
  </footer>

</section>