<section class="footer-section">

  <!-- CTA -->
  <div class="cta">
    <h2>Plan Your Divine Journey Today</h2>
    <p>Explore Kashi, Prayagraj & Ayodhya with exclusive packages</p>
    <button class="cta-btn"><a href="contact.html" id="bookId">Book Now</a></button>
  </div>

  <!-- FOOTER -->
  <footer class="footer">
    <div class="footer-container">

      <!-- ABOUT -->
      <div class="footer-col">
        <div class="logo-section">
          <img src="https://cdn-icons-png.flaticon.com/512/854/854878.png" alt="logo">
          <div class="logo-text">
            <a id="text-decor" href="index.html"><h2>Kashi</h2> <h2>Sangam</h2></a>
          </div>
        </div>
        <p>Your trusted travel partner for spiritual tours across India.</p>
      </div>

      <!-- SERVICES -->
      <div class="footer-col">
        <h3>Quick Link</h3>
        <a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Home</a>
        <a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Blog</a>
        <a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Gallery</a>
        <a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> About US</a>
      </div>

      <!-- SERVICES -->
      <div class="footer-col">
        <h3>Our Services</h3>
        <a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Tour Packages</a>
        <a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Hotel Booking</a>
        <a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Cab Services</a>
        <a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Custom Plans</a>
      </div>

      <!-- DESTINATIONS -->
      <div class="footer-col">
        <h3>Destinations</h3>
        <a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Varanasi</a>
        <a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Ayodhya</a>
        <a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Prayagraj</a>
        <a href="#"><i class="fa fa-angle-right" aria-hidden="true"></i> Haridwar</a>
      </div>

      <!-- CONTACT -->
      <div class="footer-col">
        <h3>Contact US</h3>
        <p><i class="fa fa-map-marker color" aria-hidden="true"></i> Varanasi, India</p>
        <p><i class="fa fa-phone color" aria-hidden="true"></i> +91 98765 43210</p>
        <p><i class="fa-solid fa-envelope color"></i> info@kashisangam.com</p>
      </div>

    </div>

    <!-- FULL WIDTH MAP -->
   <div class="full-map">
      <iframe 
        src="https://maps.google.com/maps?q=25.469694,81.839528&z=15&output=embed"
        width="100%" 
        height="450" 
        style="border:0;" 
        allowfullscreen="" 
        loading="lazy">
      </iframe>
  </div>

    <div class="footer-bottom">
      <p>© 2026 Kashi Sangam | All Rights Reserved | Design and Developed By SH Brothers</p>
    </div>
  </footer>

</section>