 <div class="top-header">

  <!-- Logo -->
  <div class="logo-section">
    <img src="https://cdn-icons-png.flaticon.com/512/854/854878.png" alt="logo">
    <div class="logo-text">
      <a id="text-decor" href="index.html"><span>Kalki</span> <span>Tour and Travel</span></a>
    </div>
  </div>

  <!-- Email -->
  <div class="contact-info">
    <i class="fa-solid fa-envelope"></i>
    <div class="contact-text">
      <b>FOR BOOKING MAIL US :</b>
      <a href="mailto:mishrarohit@kalkitourandtravels.com">mishrarohit@kalkitourandtravels.com</a>
    </div>
  </div>

  <!-- Right Actions -->
  <div class="actions">

    <div class="action-box">
      <i class="fa-brands fa-whatsapp whatsapp"></i>
      <div class="action-text">
        <b>WHATSAPP US</b>
        +91 9682701873
      </div>
    </div>

    <div class="action-box">
      <i class="fa-solid fa-phone call"></i>
      <div class="action-text">
        <b>CALL US</b>
        +91 9682701873
      </div>
    </div>

  </div>

</div>
<!-- top header end -->
<!-- Navbar -->
<div class="navbar">
<div class="logo"><a id="text-decor" href="index.html">Kalki Tour and Travel</a></div>
<div class="hamburger" onclick="toggleMenu()">☰</div>

<div class="nav-links" id="navLinks">
<a href="index.html">Home</a>

<div class="dropdown">
    <a onclick="dropDown()">Tour Packages ▾</a>
    <div class="dropdown-content">
        <a href="varansiTour.html">Varanasi Tour</a>
          <div class="submenu">
            <a>Prayagraj Tour ▸</a>
            <div class="submenu-content">
                <a href="prayagCity.html">Prayagraj City Tour</a>
                <a href="prayagrajTour.html">Sangam Tour</a>
            </div>
        </div>
        <a href="ayodhyaTour.html">Ayodhya Tour</a>
        <a href="chitrakotTour.html">Chitrakoot Tour</a>
        <a href="lucknowTour.html">Lucknow Tour</a>
        <a href="ayodhyaToPrayagRaj.html">Prayagraj to Ayodhya</a>
        <a href="prayagrajtovaransi.html">Prayagraj To Varanasi </a>
        <a href="chitrakootToPrayaraj.html">Prayagraj To Chitrakoot</a>
        <a href="upTour.html">Uttar Pradesh Tour</a>
    </div>
</div>
<a href="spritualTringle.html">Spiritual Triangle</a>
<a href="cabServices.html">Cab Booking</a>
<div class="dropdown">
    <a onclick="dropDown()">Our Services ▾</a>
    <div class="dropdown-content">
        <a href="boatBooking.html">Boat Booking</a>
        <a href="bookTourGuide.html">Personal Guide</a>
        <a href="#" disabled="disabled">Tent Booking (During Kubh Mela)</a>
        <a href="puja.html">Puja Booking</a>
    </div>
</div>
<a href="aboutUs.html">About Us</a>
<a href="contact.html">Contact Us</a>
</div>
</div>


