 <div class="top-header">

  <!-- Logo -->
  <div class="logo-section">
    <img src="https://cdn-icons-png.flaticon.com/512/854/854878.png" alt="logo">
    <div class="logo-text">
      <a id="text-decor" href="index.html"><span>Kashi</span> <span>Sangam</span></a>
    </div>
  </div>

  <!-- Email -->
  <div class="contact-info">
    <i class="fa-solid fa-envelope"></i>
    <div class="contact-text">
      <b>FOR BOOKING MAIL US :</b>
      mishrarohit1857@gmail.com
    </div>
  </div>

  <!-- Right Actions -->
  <div class="actions">

    <div class="action-box">
      <i class="fa-brands fa-whatsapp whatsapp"></i>
      <div class="action-text">
        <b>WHATSAPP US</b>
        +91 9682701873
      </div>
    </div>

    <div class="action-box">
      <i class="fa-solid fa-phone call"></i>
      <div class="action-text">
        <b>CALL US</b>
        +91 9682701873
      </div>
    </div>

  </div>

</div>
<!-- top header end -->
<!-- Navbar -->
<div class="navbar">
<div class="logo"><a id="text-decor" href="index.html">Varanasi Tour</a></div>
<div class="hamburger" onclick="toggleMenu()">☰</div>

<div class="nav-links" id="navLinks">
<a href="index.html">Home</a>

<div class="dropdown">
    <a href="#">Tour Packages ▾</a>
    <div class="dropdown-content">
        <a href="#">Varanasi Tour</a>
        <a href="#">Prayagraj Tour</a>
        <a href="#">Ayodhya Tour</a>
        <a href="#">Chitrakoot Tour</a>
        <a href="#">Vindhyachal Shakti Peeth</a>
        <a href="#">Lucknow Tour</a>
        <a href="#">Nainital Tour</a>
    </div>
</div>
<a href="spritualTringle.html">Spiritual Triangle</a>
<div class="dropdown">
    <a href="#">Cab Booking ▾</a>
    <div class="dropdown-content">
        <a href="#">SUV</a>
        <a href="#">Tempo Traveller</a>
        <a href="#">Sedan</a>
    </div>
</div>
<div class="dropdown">
    <a href="#">Other Services ▾</a>
    <div class="dropdown-content">
        <a href="boatBooking.html">Boat Booking</a>
        <a href="#">Personal Guide</a>
        <a href="#">Tent Booking (During Kubh Mela)</a>
    </div>
</div>
<a href="aboutUs.html">About Us</a>
<a href="contactUs.html">Contact Us</a>
</div>
</div>